<!DOCTYPE html>
<html>
<head>
  <title>Armstrong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <div class="Slogan">10 大最熱門事件，讓你真正掌握社會脈動</div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
